body{
  margin-top: -15px;
}

#NavPane{
  background-color: #343A40;
}

.panes{
  min-height: 80vh;
}

.profile_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 10%;
  margin-bottom: 20px;

}

.textStyle{
  color: white;
}

#wrapper{
  margin-top: 100px;
}

#displayPane{
  /* margin-top: 60px; */
}

.list-group-item{
  border: 0;
}

li{
  text-align: left;
}

li a{
  /* color: black; */
}

.list-group-item {
background-color: #343A40;
}

#addItem{
  width: 100%;
  padding: 0 20%;
  margin-bottom: 2%;
  margin-top: -2%;
}
