/* Footer Section. */
footer{
  position: relative;
  bottom: 0;
  /* change background color to green */
  background-color: #27ae60;
  color: #f5f6fa;
  padding: 30px 30px;
  width: 100%;
}

.row{
  margin: 0;
}

ul {
  list-style: none;
  text-align: center;
}

li a{
  color: white;
  text-decoration: none;
}
