@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed&display=swap');

.codex-header{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  color: #28A745;
}

.header{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 41px;
}

.sub-header{
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
}

.form-sub-section{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.logo{
  height: 60px;
}

.alert{
  margin-top: 85px;
}

.msg{
  border: 1px solid #dedede;
  border-radius: 5px;
  height: 35vh;
  margin-top: 20vh;
  display: inline-block;
  text-align: left;
}

.msgText{
  margin-top: 10px;
  font-size: 24px;
}
